{% extends "courses/course_dashboard.html" %}

<!-- bloco do 'dashboard_content' e não de course_dashboard=herança de herança-->
{% block dashboard_content %}
	{% for announcement in announcements %}
		<div class="well">
		    <h2>{{ annoucement.title }}</h2>
		    {{ announcement.content|linebreaks }}		    
		    <p>
		        <a href="#comments" title="">
		        <i class="fa fa-comments-o"></i>
		        <!-- with = joga um determinada ação dentro de uma variável -->
		        {% with comments_count=announcement.comments.count %}
		        	{{ comments_count }} Comentário{{ comments_count|pluralize }}
		        {% endwith %}
		        </a>
		    </p>
		</div>
		{% empty %}
			<div class="well">
				<h2>Nenhum anúncio criado.</h2>
			</div>
	{% endfor %}
	
{% endblock %}